<div class="bg-light">
  <div class=" btn-group mt-4 mb-4">
    <button type="button" class="btn btn-outline  rounded m-2 pb-3" (click)=" getAllProducts() ">ALL</button>
    <button type="button" class="btn btn-outline  rounded m-2 pb-3" *ngFor="let i of cateories"
      (click)="fillterData(i.id)">{{i.name}}</button>

  </div>
  <div class="container">
    <div class="row">
      <div class="card col-lg-3 m-2 img-thumbnail p-1 card-style" style="width: 18rem;" [@fade]="'in'"
        *ngFor="let item of products">
        <img [src]="item.image" class="card-img-top img-circle" height="250" alt="...">
        <div class="card-body">
          <h5 class="card-title" height="300">{{item.title}}</h5>
          <p class="card-text bold" height="250">Price: {{item.price |currency}}</p>
          <p class="card-text" height="250">{{item.date}}</p>
          <button class="btn btn-primary" w="300"  > {{item.date |expiredDate}}</button>


        </div>
      </div>

    </div>
    <!-- <p>Today is {{today | date: 'dd-MM-yyyy'}}</p> -->
  </div>
  <!-- //////////////////////////////////// -->
  <footer class="text-center text-white" style="background-color: #caced1;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Images -->
      <section class="">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum necessitatibus maxime autem deserunt
            obcaecati, neque, laboriosam rem incidunt, ipsa distinctio inventore unde architecto sint vel nobis illum
            ipsum! Sequi, eligendi!

          </div>
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum necessitatibus maxime autem deserunt
            obcaecati, neque, laboriosam rem incidunt, ipsa distinctio inventore unde architecto sint vel nobis illum
            ipsum! Sequi, eligendi!

          </div>


        </div>
      </section>
      <!-- Section: Images -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>